.address {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.copy,
.frame1 {
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
}
.frame1 {
  border: 1px solid var(--color-dimgray-300);
  outline: 0;
  background-color: var(--color-white);
  flex: 1;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 58px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-3xs);
  color: var(--color-gray-400);
}
.copy {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  color: var(--color-gray-200);
  text-align: center;
}
.frame,
.frame2,
.frameParent {
  align-self: stretch;
  display: flex;
}
.frame2 {
  cursor: pointer;
  border: 1px solid var(--color-dimgray-300);
  padding: var(--padding-mini) var(--padding-2xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.frame,
.frameParent {
  justify-content: flex-start;
}
.frameParent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.frame {
  height: 92px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.frame4 {
  outline: 0;
}
.frame4,
.frame8 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-300);
  box-sizing: border-box;
  height: 58px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-3xs);
  font-family: var(--font-roboto);
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.address5,
.verified {
  position: relative;
  line-height: 20px;
}
.verified {
  color: var(--color-black);
}
.addressParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.verify {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: center;
}
.lightbutton {
  cursor: pointer;
  border: 1px solid var(--color-lavender);
  padding: var(--padding-3xs) 0;
  background-color: var(--color-ghostwhite);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 393px;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-11xl);
}
.save {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.lightbutton1 {
  cursor: pointer;
  border: 1px solid var(--color-mediumblue);
  padding: var(--padding-3xs) 0;
  background-color: var(--color-mediumblue);
  flex: 1;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.lightbuttonWrapper,
.profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lightbuttonWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xl);
}
.profile {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-roboto);
}
