.imageIcon {
  position: relative;
  border-radius: var(--br-3xs);
  width: 16px;
  height: 16px;
  object-fit: cover;
  border: 1px solid #fff;
}
.frame {
  border-radius: var(--br-981xl);
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.testnetMatic {
  position: relative;
  line-height: 24px;
}
.dd,
.frame2,
.testnetMatic {
  align-self: stretch;
}
.frame2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.dd {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 24px;
  color: var(--color-dimgray-100);
}
.frame1,
.frameParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frameParent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.matic {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.frame4,
.usdt {
  align-self: stretch;
}
.frame4 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.usdt {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  color: var(--color-dimgray-100);
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.bitcoin,
.frame3 {
  align-self: stretch;
  display: flex;
}
.frame3 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 17px;
  /* font-size: var(--font-size-mini) */
}
.bitcoin {
  text-decoration: none;
  border-radius: var(--br-5xs);
  height: 64px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-roboto);
}
